:root {
    --heading-color: #0A3853;
    --main-text-color: #141414;
    --secondary-text-color: #FFFFFF;
    --background-color: #FFFFFF;
    --secondary-bg-color: rgba(43, 74, 97, 0.87);;
    --accent-color: #26C7EA;
    --hover-color: #94CFFF;
    --bg-btn-color: #0B0E66;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--main-text-color);
    font-size: 24px;
    line-height: 1.2;
    background-color: var(--background-color);
}

/* font-family: "Headland One", serif; */
/* font-family: "Hammersmith One", sans-serif; */

.container {
    width: 1062px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid tomato;
}

.section {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.header,
.hero,
.footer {
    background-color: var(--secondary-bg-color);
}

.btn {
    cursor: pointer;
    font-family: "Headland One", serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--accent-color);
    background-color:  var(--bg-btn-color);
}

.flex {
    display: flex;
}

/* header */

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 3px solid #fff;
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../images/header-bg.jpg);
    background-size: cover;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 184px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 38px;
}

.header-link {
    font-weight: 300;
    font-size: 20px;
    color: var(--secondary-text-color);
    transition: color 500ms ease-in-out;
}

.header-link:hover {
    color: var(--hover-color);
}

.header-link.current {
    font-weight: 600;
    color: var(--hover-color);
}

.header-btn {
    margin-left: auto;
    padding: 8px 36px;
    border: 2px solid var(--accent-color);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

/* hero */

.hero {
    padding-top: 180px;
    padding-bottom: 180px;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
}

.hero-text {
    margin-bottom: 40px;
    width: 280px;
    font-size: 20px;
    color: #fff;
}

.hero-btn {
    padding: 24px 74px;
    border: 3px solid var(--accent-color);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    font-size: 24px;
}

/* expression */

.expression {
    padding-top: 75px;
    padding-bottom: 12px;
}

.expression-text {
    margin-bottom: 16px;
    font-size: 36px;
    text-align: center;
    color: var(--heading-color);
}

.expression-author {
    font-size: 24px;
    text-align: center;
    color: #000;
}

/* trailer */
.trailer {
    padding-top: 330px;
    padding-bottom: 330px;
    background-image: url(../images/trailer-bg.jpg);
    background-size: cover;
    text-align: center;
}

.trailer-btn {
    display: inline-block;
    padding: 24px 18px;
    border: 3px solid var(--accent-color);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    font-size: 24px;
}

/* language */

.language {
    padding-top: 58px;
    padding-bottom: 58px;
    background-image: url(../images/language-bg.jpg);
    background-size: cover;
}

.language-title {
    margin-bottom: 45px;
    font-family: "Headland One", serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: var(--main-text-color);
}

.language-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 24px;
    font-family: "Headland One", serif;
}

.language-item {
    flex-basis: calc((100% - 80px) / 3);
    padding: 36px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: "Headland One", serif;
    text-align: center;
}

.language-item > p:last-child {
    color: #000;
}

/* footer */
.footer {
    padding-top: 53px;
    padding-bottom: 25px;
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../images/footer-bg.jpg);
}

.footer-logo {
    padding: 42px 80px 42px 0px;
    border-right: 2px solid #fff;
    margin-right: 80px;
}

.footer-logo + div {
    width: 100%;
}

.footer-list {
    margin-bottom: 36px;
    font-size: 20px;
    color: var(--secondary-text-color);
}

.footer-list > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.footer-security {
    text-align: center;
    font-size: 14px;
    color: var(--secondary-text-color);
}